#ifndef APSTUDIO_INVOKED
#define PRODUCT_NAME "swSSORecoverSvc"
#define PRODUCT_NAME_TRACE "swSSORecoverSvc (traces)"
#define EXECUTABLE_NAME "swSSORecoverSvc.exe"
#define EXECUTABLE_NAME_TRACE "swSSORecoverSvc.exe"
#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "..\swssocommonfiles\versioninfo.rc"
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS