#ifndef APSTUDIO_INVOKED
#define PRODUCT_NAME "swSSOSVC"
#define PRODUCT_NAME_TRACE "swSSOSVC (traces)"
#define EXECUTABLE_NAME "swSSOSVC.exe"
#define EXECUTABLE_NAME_TRACE "swSSOSVC.exe"
#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "..\swssocommonfiles\versioninfo.rc"
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS