//
// Version Information resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
1 VERSIONINFO
    FILEVERSION     1,2,1,1
    PRODUCTVERSION  1,2,1,1
    FILEOS          VOS_UNKNOWN
    FILETYPE        VFT_UNKNOWN
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   0x00000000
    FILEFLAGS       0x00000000
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040C04B0"
        {
            VALUE "FileVersion", "1.21"
            VALUE "ProductVersion", "1.21"
            VALUE "LegalCopyright", "Copyright 2004-2018"
            VALUE "Comments", ""
            VALUE "CompanyName", "Sylvain WERDEFROY"
#ifdef TRACES_ACTIVEES
			VALUE "FileDescription", PRODUCT_NAME_DEBUG
			VALUE "InternalName", PRODUCT_NAME_DEBUG
#else
			VALUE "FileDescription", PRODUCT_NAME
			VALUE "InternalName", PRODUCT_NAME
#endif
            VALUE "OriginalFilename", EXECUTABLE_NAME
            VALUE "LegalTrademarks", ""
            VALUE "PrivateBuild", ""
            VALUE "ProductName", "swSSO"
            VALUE "SpecialBuild", ""
        }
    }
    BLOCK "VarFileInfo"
    {
       VALUE "Translation", 0x040C, 0x04B0, 0x0409, 0x04B0
	}
}

