#ifndef APSTUDIO_INVOKED
#ifdef SW_64BITS
#define PRODUCT_NAME "swSSORecoverDll x64" 
#define PRODUCT_NAME_DEBUG "swSSORecoverDll x64 (debug)"
#else
#define PRODUCT_NAME "swSSORecoverDll x86"
#define PRODUCT_NAME_DEBUG "swSSORecoverDll x86 (debug)"
#endif
#define EXECUTABLE_NAME "swSSORecoverDll.dll"
#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "..\swssocommonfiles\versioninfo.rc"
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
