#ifndef APSTUDIO_INVOKED
#ifdef SW_64BITS
#define PRODUCT_NAME "swSSOCM x64" 
#define PRODUCT_NAME_DEBUG "swSSOCM x64 (debug)"
#else
#define PRODUCT_NAME "swSSOCM x86"
#define PRODUCT_NAME_DEBUG "swSSOCM x86 (debug)"
#endif
#define EXECUTABLE_NAME "swSSOCM.dll"
#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "..\swssocommonfiles\versioninfo.rc"
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
