#ifndef APSTUDIO_INVOKED
#define PRODUCT_NAME "swSSOGenKey"
#define PRODUCT_NAME_TRACE "swSSOGenKey (traces)"
#define EXECUTABLE_NAME "swSSOGenKey.exe"
#define EXECUTABLE_NAME_TRACE "swSSOGenKey.exe"
#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "..\swssocommonfiles\versioninfo.rc"
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS