#ifndef APSTUDIO_INVOKED
#define PRODUCT_NAME "swSSOHotKey"
#define PRODUCT_NAME_DEBUG "swSSOHotKey (debug)"
#define EXECUTABLE_NAME "swSSOHotKey.dll"
#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "..\swssocommonfiles\versioninfo.rc"
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS